* {
  box-sizing: border-box;
}
h1 {
  font-weight: 300;
  font-size: 50px;
  color: aliceblue;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  color: aliceblue;
}

.square {
  background: rgba(0, 0, 0, 0.881);
  border: 1px solid #ed040495;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  color: aliceblue;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 4em;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-top: 13rem;
  margin-left: 60px;
}

.move  {
  font-weight: 400;
  font-size: 25px;
  background-color: black;
  color: red;
}
li button{
  font-weight: 600;
  font-size: 15px;
  color: rgb(252, 0, 0);
  background-color: rgba(0, 0, 0, 0.886);
  cursor: pointer ;
  border-style: none;
  text-decoration: underline;
}
li button:hover {
  text-decoration: none;
  
}





